# Environment variables
.env
.env.*
*/.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environments
venv/
.env/
.venv/

# Node (if you use any frontend tooling later)
node_modules/
dist/
build/

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/


/obsolete